extends layout/main

block variables
  - var pageClass        = 'Drawer JS';
  - var title            = 'Drawer JS';
  - var description      = 'Description for Drawer JS';


block content
  .container
    #app
      .row
        canvas#canvas(width='600', height='200')
        ul#color-palette
      .controls
        button#new-color-button
          i.material-icons palette
        button#canvas_clear__eraser
          i.material-icons opacity  
        button#canvas_clear__button
          i.material-icons clear
        input(type='range' id='brush-size-slider' min='1' max='10' value='1')
        #color-picker
          span.color-picker__preview
          .color-picker__sliders
            label R
              input.color-picker__slider(type='range' id='red' name='red' min='0' max='255' value='0')
            label G
              input.color-picker__slider(type='range' id='green' name='red' min='0' max='255' value='0')
            label B
              input.color-picker__slider(type='range' id='blue' name='red' min='0' max='255' value='0')
          .color-picker__controls
            button.color-picker__add-button
              i.material-icons check
            button.color-picker__close-button
              i.material-icons clear
      
block script
  script(src='static/js/color-palette.js')
  script(src='static/js/color-picker.js') 
  script(src='static/js/app.js') 
  script(src='static/js/index.js')
  // script(src='') 
