/* Main */
#app
	display flex
	align-items center
	flex-direction column
	padding 10px 20px

canvas
	width 100%
	margin-bottom 12px
	background-color canvasBgColor
	border-radius 6px
	box-shadow 0 20px 20px rgba(0,0,0,.03)
	transition: all .25s cubic-bezier(.02,.01,.47,1);
	
	&:hover
		box-shadow 0 20px 20px rgba(0,0,0,.04)
		
		
button
	padding 10px 18px
	background-color: #4186d7;
	color: whiteColor
	transition: all .25s cubic-bezier(.02,.01,.47,1);
	
	
	&:hover
		background-color: #4a90e2;

/* Color Palette */
#color-palette
	display flex
	min-height 54px

.color-palette__color
	height 32px
	width @height
	margin-right 10px
	border-radius 60px
	cursor pointer
	
	
	&:last-child
		margin-right 0
		
.color-palette__color
		transition: all .25s cubic-bezier(.02,.01,.47,1);
		&:hover
				margin-top -2px
				box-shadow 0 20px 20px rgba(0,0,0,.04)
				
		&.selected
				margin-top -4px
				box-shadow 0 20px 20px rgba(0,0,0,.06)
				

/* Color Picker */
#color-picker
	display none
	position relative
	width 305px
	margin 20px 0 0
	padding 10px
	background #fff
	border-radius 5px
	&:after
		bottom 100%
		left 24px
		border solid transparent
		content " "
		height 0
		width 0
		position absolute
		pointer-events none
		border-color rgba(255, 255, 255, 0)
		border-bottom-color #fff
		border-width 10px
		margin-left -10px

.color-picker__preview
	width 80px
	height @width
	float left
	border-radius 8px
	clear both
	margin 10px 20px 20px 10px

.color-picker__sliders
	display flex
	flex-direction column
	align-items center
	label
			margin 8px
			display block
			font-size 14px
	input
			position relative
			top 2px

.color-picker__controls
	clear both
	display flex
	justify-content space-between
	

input[type="range"]{
  -webkit-appearance none
  height 4px
  border-radius 10px
  background #8bafd8
  margin auto
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance none
  width 14px
  height @width
  border-radius 50px
  background #4a90e2
  cursor pointer
}

